# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

legacy_scripts/
legacy_output/
# Data & outputs (besar, gak perlu di-push)
data/
output/
*.csv
*.pkl
*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/